.container {
    padding: 10px;
    background-color: white;
}

    .container a > div {
        display: inline-block;
        width: 100%;
        border: none;
    }
/*Feedback*/
.project, .feedback, .about {
    margin-top: 30px;
    border-radius: 15px;
}

    .feedback #firstLabel, #secondLabel {
        text-align: center;
        display: block;
    }

.panel {
    padding: 20px 45px 20px 45px;
}

.container a > div:hover {
    background-color: #eee;
}
