
@{
    ViewBag.Title = "Pnp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br /><br /><br />
            <h2>Privacy and Policy</h2>
            <br /><br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <ul>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        This page states the terms of use (“Terms”) under which you (“You” or “Your”) may use employees, and your relationship with VacancyLinks.com (“VacancyLinks”, “we” or “us”).<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        By accessing or using any portion of the Site, you acknowledge that you have read, understood, and agreed to be bound by chatesat.com. <br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        They affect your rights and liabilities under the law.<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        You are responsible to assist Vacancy Links for handover processes by providing job information and related documents after informing about job cancellation.<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        If you do not agree to this Agreement, you must immediately discontinue any access and use of the Services.<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        For the employee: It’s free to join the vacancylinks.com as a employee. Vacancylinks.com will charged 10 % from you for one job. (without bank transfer fees).<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        Vacancylinks.com shall transfer wages for the complete and specific tasks according to the requirements only after receiving project owner permission.<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        Vacancy-Links already guaranteed to give wages for the complete specific tasks, according to the requirement.<br /><br />
                    </p>
                </li>
                <li>
                    <p style="text-align:justify;font-size:18px">
                        Employee are responsible to pay the income tax as Vacancy-Links don’t charge for income tax upon the wages of Vacancy-Links.<br /><br /><br /><br /><br />
                    </p>
                </li>
            </ul>

        </div>
    </div>
</div>

