
@{
    ViewBag.Title = "Vacancies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="width:100%;height:1000px">
    <div class="row">
        <div class="col-md-12 text-center">
            <br /><br />
            <h2>There are better carriers out there. We will help you find it.</h2>
            <br /><br />
        </div>
    </div>
    <div class="row" style="font-size:18px">
        <div class="col-md-2">
        </div>
        <div class="col-md-3 text-center">
            <label style="font-size:20px">Job Title</label>&emsp;
            <select>
                <option>Animal Caretaker</option>
                <option>Babysitter</option>
                <option>Bartender</option>
                <option>Bookkeeper</option>
                <option>Cashier</option>
                <option>Fitness Trainer</option>
                <option>Restaurant Server</option>
                <option>Nursing Assistant</option>
                <option>Tutor</option>
            </select>
            <br /><br /><br />
        </div>
        <div class="col-md-3 text-center">
            <label style="font-size:20px">Job Location</label>&emsp;
            <select>
                <option value="Ahlon">Ahlon</option>
                <option value="Bahan">Bahan</option>
                <option value="Lanmadaw">Lanmadaw</option>
                <option value="Latha">Latha</option>
                <option value="Sanchaung">Sanchaung</option>
            </select>
            <br /><br /><br />
        </div>
        <div class="col-md-2 text-center">
            <button id="search" style="width:80%"><i class="fas fa-search"></i>&nbsp;Search</button>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>

